/*#about-us {*/
/*  padding-top: 75px;*/
/*  padding-bottom: 100px;*/
/*  background: url("../images/1_amaHala.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-attachment: fixed;*/
/*  position: relative;*/
/*}*/
/*#about-us:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  opacity: 0.3;*/
/*}*/

/*#blog {*/
/*  padding-top: 75px;*/
/*  padding-bottom: 100px;*/
/*  background: url("../images/2_Pumpkin_Flower.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-attachment: fixed;*/
/*  position: relative;*/
/*}*/
/*#blog:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  opacity: 0.3;*/
/*}*/

/*#price {*/
/*  padding-top: 75px;*/
/*  padding-bottom: 100px;*/
/*  background: url("../images/3_Lijoti_Melon.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-attachment: fixed;*/
/*  position: relative;*/
/*}*/
/*#price:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  opacity: 0.3;*/
/*}*/
